body {
    margin: 0;
    font-family: "Nunito Sans", "Yeseva One", Arial;
    font-size: 11px;
    font-weight: normal;
}

body * {
    box-sizing: border-box;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    font-family: "Nunito Sans";
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
    margin-right: 95px;
}

/*Для header и footer одинаковые селекторы и стили*/

.container {
    background: #131313;
    position: sticky;
    top: 0;
}

.container-top {
    max-width: 1440px;    
    min-height: 83px;
    margin: auto;
        align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navigation-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation-list__item {
    text-decoration: none;
    color: white;    
    margin-right: 47px;
}

.navigation-list__item:hover {
    color: #E3B873;   
}

.container-top .phone {
    color: #E3B873;
    margin: 0 45px 0 20px ;
}

.container-top .button {
    padding: 13px 33px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.title-container {
    height: 707px;
    background-image: url("../img/image 4.3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title-container-overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.representation {
    width: 1384px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    
}

.heading {
    font-family: "Yeseva One";
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 19px;
    padding-top: 194px;
}

.location {
    color: #E3B873;
}

.summary {
    height: 89px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0;
}

.representation .button-wrap {
    display: flex;
    margin: 41px 0 0 0;
    box-shadow: none;
}

.button.cost {
    margin-right: 20px;
    width: 207px;
    height: 51px;
}

.button.submit {
    border: 1px solid white;
    background: transparent;
    width: 207px;
    height: 51px;
}

.completed-container {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-style: normal;
    font-weight: normal;
}

.project-list-container {
    width: 1384px;
    height: 1074px;
    margin: 0 auto 0;
    
}

.project-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    padding: 107px 0 0 0;
}

.project-list__item a {
    text-decoration: none;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 60px;
}

.project-list__item a:hover {
    color: #E3B873;
    padding-bottom: 8.7px;
    border-bottom: 1px solid #E3B873;
}

.completed-property {
    margin: 43px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.completed-property-wrap {
    width: 442px;
    height: 482px;
}

.completed-subtitle {
    font-family: "Yeseva One";
    font-size: 27px;
    font-weight: normal;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 253px;
    margin: 0;
}

.project-review {
    font-family: "Nunito Sans";
    font-size: 14px;
    line-height: 27px;
    margin: 34px 0 0 0;
}

.property-list {
    list-style: none;
    padding: 0;
    width: 403px;
    height: 210px;
    display: flex;
    margin: 42px 0 0;
    flex-wrap: wrap;
    align-items: flex-start;
}

.property-list__item {
    width: 200px;
    height: 42px;
}

.item-subtitle {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0 0 9px 0;
}

.item-text {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0 0 34px 0;
}

.arrows {
    width: 206px;
    height: 13px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.arrows .dot {
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.dot-item:hover {
    background: #E3B873;
    border-radius: 30px;
}

.completed-image {
    width: 679px;
    background: url("../img/image\ 2.1.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.arrow-circle-wrap {
    display: none;
}

.control-container {
    margin: -324px auto 0;
}

.control-title-wrap {
    width: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 29px;
}

.control-subtitle {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.camera-wrap {
    display: flex;
    justify-content: space-between;
    width: 114px;
}

.control-video-wrap {
    width: 817px;
    height: 434px;
    margin: 0 auto 63px;
    background-image: url("../img/image 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.control-video-wrap-overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    
}

.video-arrow-circle {
    z-index: 1;
    margin: auto;
    width: 85px;
    height: 85px;
    background-color: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 50%;
    border: none;
    position: relative;
    
}

.video-arrow-circle::before {
    content: '';
    position: absolute;
    top: 35%;
    left: 40%;
    background: url("../img/Polygon.svg") no-repeat;
    width: 28px;
    height: 28px;
}

.bottom-line {
    background: #E3B873;
    border-radius: 30px;
    display: block;
    margin: 0 auto 30px;
}

.control-review {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    width: 681px;
    margin: 0 auto 92px;
}

.form-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 769px;
    height: 51px;
    margin: 0 auto;
}

.input {
    display: flex;
    flex-direction: column;
    width: 231px;
    margin-right: 49px;
}

.form-name,
.form-phone {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.4);
    padding-bottom: 7px;
}

.label {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form-fields .button {
    font-style: normal;
    padding: 15px 76px 11px;
    width: 209px;
    font-size: 13px;
    line-height: 27px;
    border: 0;
    box-shadow: 0;
 }

 .checkbox {
     width: 286px;
     margin: 35px auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .checkbox .label {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
    margin-left: 7px;
    
 }
 
 .form-checkbox {
    position: relative;
    margin-bottom: 10px;    
 }

 .form-checkbox::before {
    content: '';
    position: absolute;
    background-color: #E3B873;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    
 }

.form-checkbox:checked::after {
    content: '';
    position: absolute;
    background: url("../img/mark.svg") no-repeat;
    top: 5px;
    bottom: 0;
    left: 4px;
    right: 0;
}

.types-container {
    width: 1236px;
    margin: 200px auto;
}

.types-subtitle-wrap {
    width: 257px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.types-subtitle-wrap .control-subtitle {
    color: #181818;
}

.tools-image-wrap {
    width: 114px;
    display: flex;
    justify-content: space-between;
}

.types-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.type-text-block {
    position: absolute;
    width: 330px;
    margin: -140px 31px;
    background-color: rgb(255, 255, 255);
    
}

.type-subtitle {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636; 
    margin: 25px 31px 13px;
}

.type-list {
    padding-bottom: 45px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.type-list__item {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding: 0;
    margin: auto 7px;
}

.type-price {
    background: #E3B873;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 0;
    margin-top: -40px;
    text-align: center;
    width: 231px;
}

.order-container {
    width: 1440px;
    margin: 429px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.order-features-wrap {
    background: url("../img/image 6.1.png") no-repeat;
    display: flex;
}

.features-text-wrap {
    width: 375px;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 auto 202px;
}

.feature-item {
    display: flex;
}

.feature-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.feature-text {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    width: 316px;
    margin: auto;
}

.order-form {
    width: 506px;
    margin: 0 80px 0 100px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    display: flex;
}

.order-form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px 49px 0;
    width: 408px;
}

.order-form input {
    background: #131313;
    font-family: "Nunito Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 408px;
    margin-bottom: 48px;
}

.order-form input::placeholder {
    font-family: "Nunito Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.order-form-title {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 237px;
    margin: 28px auto 40px;
}

.order-label {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.order-form-checkbox {
    width: 408px;
    margin: auto auto 39px;
    display: flex;
    align-items: center;
}

.order-form-checkbox .order-checkbox {
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
    position: relative;
}

.order-checkbox::before {
    content: '';
    position: absolute;
    background-color: #E3B873;
    width: 18px;
    height: 18px;
    border-radius: 1px;
}

.order-checkbox:checked::after {
    content: '';
    position: absolute;
    background: url("../img/mark.svg") no-repeat;
    top: 5px;
    left: 4px;
    width: 9px;
    height: 9px;
}

.order-form-checkbox .order-label {
    font-family: "Nunito Sans";
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    width: 260px;
}

.order-form-button {
    width: 213px;
    margin: 15px 49px 27px auto;
    text-align: center;    
}

.order-form-button .button {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 38px;
}

.order-discount {
    width: 520px;
    display: flex;
    justify-content: flex-start;
    margin: 38px 33px auto auto;
}

.discount-image {
    width: 72px;
    height: 72px;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-text {
    width: 220px;
    margin: 0 25px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    display: flex;
    align-items: center;
}

.demo-container {
    width: auto;
    background: url("../img/image\ 5.1.png") no-repeat;
    background-size: cover;
    position: relative;
}

.demo-wrap {
    width: 1386px;
    height: 864px;
    display: flex;
    justify-content: space-around;
    margin: 242px auto 0;
}

.demo-container-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.demo-list-wrap {
    width: 350px;
    margin-top: 123px;
    z-index: 1;
}

.demo-subtitle {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.demo-list {
    list-style: none;
    padding: 0;
    height: 493px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px auto 0;
}

.demo-list__item a {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    list-style: none;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.demo-list__item a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.image-column {
    display: flex;
    justify-content: space-between;
    width: 751px;
    z-index: 1;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -41px;
    height: 946px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -113px;
    height: 938px;
}

.clients-wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.clients-subtitle-wrap {
    width: 1236px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-subtitle-wrap .control-subtitle {
    color: #181818;
}

.clients-image-wrap {
    width: 114px;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.clients-subtitle-text {
    width: 406px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin: 7px auto;
}

.clients-block {
    width: 1236px;
    display: flex;
    justify-content: space-between;
    margin: 14px auto;
}

.clents-review-wrap {
    width: 340px;
    display: flex;
    flex-direction: column;
}

.client-info {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px 20px;
}

.client-name {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-left: 20px;
}

.client-photo .photo {
    border: none;
    border-radius: 50%;
}

.client-review {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin: 0 0 50px 20px;
}

.client-parameters-wrap {
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    width: 294px;
    display: flex;
}

.meters,
.days {
    display: flex;
    justify-content: space-evenly;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.meters {
    width: 136px;
    border-right: 1px solid #FFFFFF;
}

.days {
    width: 159px;
}

.question-form-wrap {
    background: #131313;
    display: flex;
    flex-direction: column;
    margin-top: 128px;
    width: 885px;
    margin: 128px auto 0;
}

.question-form-title {
    font-family: "Yeseva One";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 34px auto 45px;
}

.question-form-input {
    width: 520px;
    margin: 0 auto;
}

.form-input-group {
    display: flex;
    justify-content: space-between;
}

.group {
    display: flex;
    flex-direction: column;
}

.question-form input {
    background: #131313;
    font-family: "Nunito Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 48px;
    width: 231px;
}

.question-form-input .form-question {
    width: 520px;
}

.question-form input::placeholder {
    font-family: "Nunito Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.question-label {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.question-form-checkbox {
    width: 286px;
    margin: auto auto 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-form-checkbox .question-checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
}

.question-checkbox::before {
    content: '';
    position: absolute;
    background-color: #E3B873;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    
 }

.question-checkbox:checked::after {
    content: '';
    position: absolute;
    background: url("../img/mark.svg") no-repeat;
    top: 5px;
    left: 4px;
    width: 9px;
    height: 9px;
}

.question-form-checkbox .question-label {
    font-family: "Nunito Sans";
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 7px;
}

.question-form-button {
    margin: 43px auto 41px;
    display: flex;
    justify-content: center;
}

.question-form-button .button {
    width: 200px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 54px 18px 54px;
}

.contacts-container {
    /* margin: -230px auto 0; */
    margin: 10px auto 0;
    background: url("../img/image\ 7.2.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
}

.contacts-container-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: -5;
}

.map-mobile {
    display: none;
}

.address-wrap {
    margin: 275px auto 45px;
    width: 589px;
    display: flex;
    flex-direction: column;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.address {
    font-style: normal;
    margin-bottom: 26px;
}

.contact-phone {
    color: #E3B873;
    text-decoration: none;
    cursor: pointer;
}

.social-links-wrap {
    width: 71px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.map {
    position: relative;
    width: 925px;
    height: 465px;
    margin: 65px auto;
    /* z-index: 3; */
}

.map iframe {
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

.footer {
    display: none;
}

.footer .container-top {
    min-height: 133px;
}

@media screen and (max-width: 1440px) {
    .logo {
        margin: auto;
        width: auto;
    }
    
    .navigation-list {
        display: none;
    }
    
     .container-top .phone {
        margin: auto;
        width: auto;
        color: #FFFFFF;
    }
    
    .container-top .button {
        display: none
    }
    
    .header {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    
    .title-container {
        width: auto;
        height: auto;
        margin: auto;
    }
    
    .representation {
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .heading {
        font-size: 23px;
        line-height: 132.83%;
        padding-top: 85px;
    }
    
    .summary {
        height: auto;
        font-size: 14px;
        line-height: 135.84%;
        width: auto;
    }
    
    .representation .button-wrap {
        display: flex;
        flex-direction: column;
        margin: 26px 0;
        width: auto;
        height: auto;
        font-style: none;
    }
    
    .button.cost {
        padding: 20px 42px;
        margin: 26px 0;
        width: auto;
        height: auto;
    }
    
    .button.submit {
        padding: 20px 23px;
        border: 1px solid white;
        background: transparent;
        margin-bottom: 30px;
        width: auto;
        height: auto;
    }

    .project-list-container {
        width: auto;
        height: auto;
        margin: auto;
    }
    
    .project-list {
        display: none;
    }
    
    .project-list__item a {
        display: none;
    }
    
    .completed-property {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
    
    .completed-property-wrap {
        margin: auto;
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .completed-subtitle {
        font-size: 22px;
        line-height: 138.6%;
        letter-spacing: -0.07em;
        text-align: center;
        margin: 32px auto;
        max-width: 200px;
    }
    
    .project-review {
        font-size: 11px;
        line-height: 158.48%;
        max-width: 90vw;
        margin: 0 auto;
        text-align: center;
    }
    
    .property-list {
        list-style: none;
        padding: 0;
        height: auto;
        width: 350px;
        display: flex;
        margin: 350px auto 0;
        flex-wrap: wrap;
    }
    
    .property-list__item {
        height: auto;
        width: 150px;
        display: flex;
        flex-direction: column;
    }
    
    .item-subtitle {
        font-size: 14px;
        line-height: 138.6%;
    }
    
    .item-text {
        font-size: 11px;
        line-height: 18px;
    }
    
    .arrows {
        display: none;
    }
    
    .completed-image {
        background: url("../img/image\ 2.png") no-repeat;
        background-size: cover;
        width: 85%;
        max-width: 500px;
        height: 241px;
        margin: -250px auto 300px;
        display: flex;
        align-items: center;
    }

    .arrow-circle-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        min-width: 90%;
        height: auto;
    }

    .arrow-circle {
        background-image: url("../img/Ellipse.svg");
        width: 37px;
        height: 37px;
        background-color: #E3B873;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
        border-radius: 50%;
        border: none;
        position: relative;
        cursor: pointer;
    }

    .arrow-circle::before {
        content: '';
        position: absolute;
        background: url("../img/Vector (Stroke).svg") no-repeat;
        content: '';
        top: 33%;
        left: 35%;
        width: 15px;
        height: 15px;
    }

    .arrow-circle.second::before {
        transform: rotate(180deg);
        top: 30%;
        left: 25%;
    }

    .control {
        background-color: rgba(0, 0, 0, .9);
        margin: 0 auto;
    }
    
    .control-container {
        margin: auto;
    }
    
    .control-title-wrap {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 40px;
    }
    
    .control-subtitle {
        font-size: 22px;
        line-height: 138.6%;
        margin: 13px auto;
    }
    
    .camera-wrap {
        display: flex;
        justify-content: space-between;
        width: 114px;
    }
    
    .control-video-wrap {
        width: 85%;
        max-width: 500px;
        max-height: 350px;
        margin: auto;
        background-image: url("../img/image 6.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .control-video-wrap-overlay {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);
    }
    
    .video-arrow-circle {
        margin: auto;
        width: 37px;
        height: 37px;
        cursor: pointer;
    }
    
    .video-arrow-circle::before {
        background: url("../img/Polygon-mob.svg") no-repeat;
        margin: auto;
    }
    
    .bottom-line {
        margin: 30px auto;
    }
    
    .control-review {
        font-size: 11px;
        line-height: 169.8%;
        color: #FFFFFF;
        width: 85vw;
        margin: auto;
    }

    .form-wrap {
        background-color: rgba(0, 0, 0, .9);
        height: auto;
    }

    .form-fields {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85vw;
        height: auto;
        margin: auto;
    }
    
    .input {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 50px auto 20px;
    }

    .form-fields input::placeholder {
        font-size: 14px;
        color: #FFFFFF;
    }
    
    .form-name,
    .form-phone {
        width: 85vw;
        border: 0;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 14px;
        line-height: 138.72%;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 7px;
        margin: auto;
    }
       
    .label {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .form-fields .button {
        font-style: normal;
        padding: 15px 76px 11px;
        width: 85vw;
        font-size: 13px;
        line-height: 27px;
        border: 0;
        box-shadow: 0;
        margin: 140px 0 10px;
    }
    
    .checkbox {
        width: 85vw;
        margin: -180px 0 120px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    .checkbox .label {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
    }
     
    .form-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        background: #E3B873;
        border-radius: 1px;
    }

    .types-container {
        width: auto;
        height: auto;
        margin: 50px auto;
    }
    
    .types-subtitle-wrap {
        width: auto;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .types-subtitle {
        margin: 50px auto 20px;
        font-size: 22px;
        line-height: 138.6%;
    }
    
    .tools-image-wrap {
        width: 114px;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    
    .types-wrap {
        width: 85vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 40px auto 0;
    }

    .type.repair {
        margin: 0 auto 210px;
        height: auto;
    }

    .type.repair:last-child {
        margin-bottom: 150px;
    }

    .type-image {
        max-width: 500px;
        width: 85vw;
        margin-top: 30px;
    }
    
    .type-text-block {
        position: absolute;
        max-width: 270px;
        margin: -140px 0;
    }
        
    .type-subtitle {
        font-size: 15px;
        line-height: 138.6%;
    }
    
    .type-list__item {
        font-size: 13px;
        line-height: 169.8%;
        padding: 0;
        margin: 5px 7px;
    }
    
    .type-price {
        font-size: 15px;
        line-height: 138.6%;
        padding: 11px 0;
        margin-top: -30px;
        width: 190px;
    }
    
    .order {
        display: none;
    }

    .demo-container {
        background-image: none;
    }

    .demo-wrap {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }
    
    .demo-container-overlay {
        display: none;
    }
    
    .demo-list-wrap {
        width: 85vw;
        margin: 0 auto;
    }
    
    .demo-subtitle {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        max-width: 250px;
        margin: 30px auto;
    }
    
    .demo-list {
        max-width: 700px;
        width: 85vw;
        min-height: 250px;
        background: url("../img/image\ 5.1.png") no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .demo-list__item a {
        display: none;
    }
    
    .image-column {
        display: none;
    }
    
    .clients-container {
        display: none;
    }

    .question-form-wrap {
        background: rgba(0, 0, 0, .9);
        width: auto;
        margin: -125px auto;
    }
    
    .question-form-title {
        margin: 180px auto 45px;
    }
    
    .question-form-input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85vw;
        height: auto;
        margin: 0 auto;
    }
    
    .form-input-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .question-form input {
        background: rgba(0, 0, 0, .05);
        width: auto;
    }
    
    .question-form-input .form-question {
        width: auto;
    }
    
    .question-form-checkbox {
        width: auto;
        margin: auto 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .question-form-checkbox .question-checkbox {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
    
    .question-form-checkbox .question-label {
        font-family: "Nunito Sans";
        font-weight: normal;
        font-size: 14px;
        color: #FFFFFF;
    }
    
    .question-form-button {
        margin: 43px auto 41px;
    }
    
    .question-form-button .button {
        width: 85vw;
        margin-top: 24px;
        font-size: 13px;
        line-height: 27px;
        padding: 18px 54px 14px 54px;
    }

    .contacts-container {
        width: auto;
        height: auto;
        margin: 125px auto 0;
        background-color: rgba(0, 0, 0, .9);
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }
    
    .contacts-container-overlay {
        display: none;
    }
    
    .map-mobile {
        position: relative;
        padding-bottom: 55%;
        display: block;
        width: 85%;
        height: 0;
        margin: 20px auto;
    }

    .map-mobile iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .address-wrap {
        margin: 50px auto 45px;
        width: 85vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .address {
        font-size: 18px;
        line-height: 138.6%;
        max-width: 340px;
    }
    
    .map  {
        display: none;
    }

    .footer {
        display: none;
    }
}