body {
    margin: 0;
    font-family: "Nunito Sans", "Yeseva One", Arial;
    font-size: 11px;
    font-weight: normal;
}

body * {
    box-sizing: border-box;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    font-family: "Nunito Sans";
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer;
}

.completed-container {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-style: normal;
    font-weight: normal;
}

.project-list-container {
    width: 1384px;
    height: 1074px;
    margin: 0 auto 0;

}

.project-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    padding: 107px 0 0 0;
}

.project-list__item {
    text-decoration: none;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 60px;
    transition: 0.5s;
}

.project-list__item:hover {
    color: #FFFFFF;
    padding-bottom: 8.7px;
    /* border-bottom: 1px solid #FFFFFF; */
}

.project-list__item.active {
    color: #E3B873;
    padding-bottom: 8.7px;
    border-bottom: 1px solid #E3B873;
}

.completed-property-wrap {
    width: 442px;
    margin: 43px 0 0;
}

.completed-subtitle {
    font-family: "Yeseva One";
    font-size: 27px;
    font-weight: normal;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 253px;
    margin: 0;
}

.project-review {
    font-family: "Nunito Sans";
    font-size: 14px;
    line-height: 27px;
    margin: 34px 0 0 0;
}

.property-list {
    list-style: none;
    padding: 0;
    height: 210px;
    display: flex;
    margin: 42px 0 0;
    flex-wrap: wrap;
    align-items: flex-start;
}

.property-list__item {
    width: 200px;
    height: 42px;
    transition: 0.5s;
}

.item-subtitle {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0 0 9px 0;
}

.item-text {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0 0 34px 0;
}

.arrows {
    width: 206px;
    height: 13px;
    margin-top: -15px;
    display: flex;
    justify-content: space-between;

}

.arrow {
    padding-bottom: 20px;
    opacity: 0.5;
}

.arrow:hover {
    box-shadow: #959595;
    opacity: 1;
    transition: 0.5s;
}

.arrows .dot {
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.dot-item:hover,
.dot-item.active {
    background: #FFFFFF;
    border-radius: 30px;
    width: 10px;
    height: 10px;
    transition: 0.5s;
}

.completed__image-item {
    margin-right: 0;
    transition: 0.5s;
}

.completed__image-item img {
    margin-left: 700px;
    margin-top: -430px;
}

.arrow-circle-wrap {
    display: none;
}


@media screen and (max-width: 1440px) {

    .project-list-container {
        width: auto;
        height: 750px;
        margin: auto;
    }

    .project-list {
        display: none;
    }

    .project-list__item a {
        display: none;
    }

    .completed-property {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .completed-property-wrap {
        margin: auto;
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .completed-subtitle {
        font-size: 22px;
        line-height: 138.6%;
        letter-spacing: -0.07em;
        text-align: center;
        vertical-align: middle;
        margin: 32px auto;
        max-width: 200px;
    }

    .project-review {
        font-size: 11px;
        line-height: 158.48%;
        max-width: 90vw;
        margin: 0 auto;
        text-align: center;
    }

    .property-list {
        list-style: none;
        padding: 0;
        height: auto;
        width: 350px;
        display: flex;
        margin: 350px auto 0;
        flex-wrap: wrap;
    }

    .property-list__item {
        height: auto;
        width: 150px;
        display: flex;
        flex-direction: column;
    }

    .item-subtitle {
        font-size: 14px;
        line-height: 138.6%;
    }

    .item-text {
        font-size: 11px;
        line-height: 18px;
    }

    .arrows {
        display: none;
    }

    .completed__image-item img {
        width: 85%;
        max-width: 500px;
        height: 241px;
        margin: -470px auto 300px;
        display: flex;
        align-items: center;
    }

    .arrow-circle-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 200px auto -200px;
        min-width: 90%;
        height: auto;
    }

    .arrow-circle {
        background-image: url("../img/Ellipse.svg");
        width: 37px;
        height: 37px;
        background-color: #E3B873;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
        border-radius: 50%;
        border: none;
        position: relative;
        cursor: pointer;
    }

    .arrow-circle::before {
        content: '';
        position: absolute;
        background: url("../img/Vector (Stroke).svg") no-repeat;
        content: '';
        top: 33%;
        left: 35%;
        width: 15px;
        height: 15px;
    }

    .arrow-circle.second::before {
        transform: rotate(180deg);
        top: 30%;
        left: 25%;
    }